.services{
    margin: 4em 9vw;

}
.services h1{
    font-size: calc(1em + 2vw);
    color: #435555;
    margin-bottom: 0.8em;
    font-weight: 800;
}
.services .containner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.8em;
}

.heighlite{
    color: #fc8422;
}



@media only screen and (min-width: 687px) and (max-width: 992px) {
    .services .containner{
        grid-template-columns: repeat(2, 1fr);
    }
      
    
}
@media only screen and (max-width: 688px) {
    .services .containner{
        grid-template-columns: 1fr;
    }
      
    
}