.my-orders{
    background: #fff;
    min-height: 80vh;
    margin: 0 9vw;
    padding: 10px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.116) ; */

}
.my-orders h2 {
    margin-bottom: 1em;
}
.my-orders table{
    border-collapse: collapse;
    width: 100%;
}
.my-orders th,td{
    padding: 2px 5px;
}
.my-orders thead{
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 5px;
}
.my-orders thead th{
    text-align: left;
    padding: 10px 5px;
}
.delete-btn{
    color: red;
    font-size: 29px;
}
.confir-btn{
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(47, 173, 79);
    font-size: 25px;

}