.header{
    display: flex;
    align-items: center;
    padding: 1em 9vw;
}
.header .logo{
    margin-right: auto;
}
.header a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.header nav *{
    margin-left: 1em;
}
.btn-primary{
    border: none;
    padding: .7em 1.7em;
    background: linear-gradient(90deg, #e06615,   #f5ac7c) ;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.btn-secondery{
    color: #FF8A2C;
    font-weight: 700;
    border: none;
    padding: .7em 1.7em;
    border: 2px solid #FF8A2C;
    background: none;
    font-weight: 700;
    border-radius: 7px;
}