.service-details{
    margin: 2em 9vw ;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
}
.details-container h2{
    margin-bottom: 1em;
}
.details-container *{
    margin: 5px 0;
}



@media only screen and (max-width: 688px) {
    .service-details{
        grid-template-columns: 1fr;
        
    }   
    
}